body {
  background-color: #d7cde3;
  color: #fff;
}

h1 {
  color:#fff;
  margin-left:280px;
}

#intro {
  padding:8px;
  border:3px solid #cde3d7;
  background:#bdacd1;
  width:150px;
}

#media {
  padding:8px;
  border:3px solid #cde3d7;
  background:#bdacd1;
  width:150px;
  margin-left:200px;
}

#jokes {
  padding:8px;
  border:3px solid #cde3d7;
  background:#bdacd1;
  width:150px;
  margin-left:600px;
}

#fake {
  padding:8px;
  border:3px solid #cde3d7;
  background:#bdacd1;
  column-count: 4;
  column-gap: 40px;
  column-rule-style: solid;
}
