body {
  background-color: #d7cde3;
  color: #fff;
}

h1 {
  color:#b09cc8;
  margin-left:280px;
  border:3px solid #b09cc8;
  width:380px;
}

.button {
  background-color: #b09cc8;
  border: none;
  color: #e2cde3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 395px;
  cursor: pointer;
}

#intro {
  padding:8px;
  border:3px solid #cde3d7;
  background:#bdacd1;
  width:150px;
}

#media {
  padding:8px;
  border:3px solid #cde3d7;
  background:#bdacd1;
  width:150px;
  margin-left:200px;
}

#jokes {
  padding:8px;
  border:3px solid #cde3d7;
  background:#bdacd1;
  width:150px;
  margin-left:390px;
}

#fake {
  padding:8px;
  border:3px solid #cde3d7;
  background:#bdacd1;
  column-count: 4;
  column-gap: 40px;
  column-rule-style: solid;
}

#woman {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(gold1.png) 30 round;
}
